{% extends 'base.html' %}
{% load static %}

{% block content %}


    
    <body>

    <!-- ** About Us Page ** -->
    <div class="page-heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>SunBurn Pune</h2>
                    <span>Feburary 5th, 2024 in Pune, Maharashtra</span>
                </div>
            </div>
        </div>
    </div>

    <div class="about-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-image">
                        <img src="/static/images/about-image.jpg" alt="party time">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <div class="about-map-image">
                            <img src="/static/images/about-map-image.jpg" alt="party location">
                        </div>
                        <div class="down-content">
                            <h4>SunBurn, Pune</h4>
                            <ul>
                                <li>Feburary 5th Saturday</li>
                                <li>04:30 PM - 11:00 PM</li>
                            </ul>
                            <span><i class="fa fa-ticket"></i> Tickets Starting From Rs 1500</span>
                            <div class="main-dark-button">
                                <a href="{% url 'ticket-details'%}">Purchase Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-upcoming-shows">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>About The Upcoming Show</h2>
                    <p><p>Welcome to Stellar Pass, where we bring extraordinary experiences to life! As a dynamic and versatile event management company, Stellar Pass specializes in curating a diverse range of events, including concerts, band performances, and vibrant celebrations like Holi. With a passion for creating unforgettable moments, we take pride in our commitment to delivering exceptional and seamless event experiences. Our dedicated team works tirelessly to ensure that each event reflects the unique essence and vision of our clients. At Stellar Pass, we believe in transforming your ideas into reality and making every occasion a stellar celebration.</p>
                    <h4>Items That Are Restricted</h4>
                    <ul>
                        <li>* Flash Cameras</li>
                        <li>* Food & Drinks</li>
                        <li>* Any kind of flashy objects</li>
                        <li>* Fireworks</li>
                    </ul>
                    <h4>Directions & Car Parking</h4>
                    <p>Please keep an eye on your respective email inboxes, as we will be sending detailed parking instructions to your email addresses 24 hours before the event commences. This information will guide you to designated parking areas, making your journey to the event venue seamless.
                        </p>
                    <div class="text-button">
                        <a href="event-details.html">Need Directions? <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="next-shows">
                        <h4><i class="fa fa-clock-o"></i> Get The Next Show Tickets</h4>
                        <ul>
                            <li>
                                <h5>Neon Groove Arena</h5>
                                <span>Feburary 8th, Friday<br>05:00PM - 11:30 PM</span>
                                <div class="icon-button">
                                    <a href="{% url 'NeonGrooveArena' %}"></a>
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <h5>Haven Courtyard</h5>
                                <span>Feburary 10th, Wednesday<br>04:30PM - 11:00PM</span>
                                <div class="icon-button">
                                    <a href="ticket-details.html">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <h5>Water Splash Festival</h5>
                                <span>Feburary 12th, Monday<br>10:00 AM - 11:00 PM</span>
                                <div class="icon-button">
                                    <a href="ticket-details.html">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="also-like">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>You Might Also Like...</h2>
                </div>
                <div class="col-lg-4">
                    <div class="like-item">
                        <div class="thumb">
                            <a href="event-details.html"><img src="/static/images/like-01.jpg" alt=""></a>
                            <div class="icons">
                                <ul>
                                    <li><a href="event-details.html"><i class="fa fa-arrow-right"></i></a></li>
                                    <li><a href="ticket-details.html"><i class="fa fa-ticket"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>March 10 to 14, 2024</span>
                            <a href="event-details.html"><h4>Wonder Land Music and Arts Festival</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="like-item">
                        <div class="thumb">
                            <a href="event-details.html"><img src="/static/images/like-02.jpg" alt=""></a>
                            <div class="icons">
                                <ul>
                                    <li><a href="event-details.html"><i class="fa fa-arrow-right"></i></a></li>
                                    <li><a href="ticket-details.html"><i class="fa fa-ticket"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>March 21 to 23, 2024</span>
                            <a href="event-details.html"><h4>Big Water Splashing Festival</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="like-item">
                        <div class="thumb">
                            <a href="event-details.html"><img src="/static/images/like-03.jpg" alt=""></a>
                            <div class="icons">
                                <ul>
                                    <li><a href="event-details.html"><i class="fa fa-arrow-right"></i></a></li>
                                    <li><a href="ticket-details.html"><i class="fa fa-ticket"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>April 01 to 04, 2024</span>
                            <a href="event-details.html"><h4>Tiger Dance Hip Hop Festival</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
{% endblock content %}