<html>
<head>
  <title>Responsive log in and sign up page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/log-sign.css">
  <script>
    $(document).ready(function(){
      $(".login-form").hide();
      $(".login").css("background","none");
      
      $(".login").click(function()
       {
        $(".signup-form").hide();
         $(".login-form").show();
        
        
       $(".signup").css("background","none");
        $(".login").css("background","#fff");
        
        
      });
     $(".signup").click(function()
       {
       $(".login-form").hide();
        $(".signup-form").show();
       $(".signup").css("background","#fff");
        $(".login").css("background","none");
     });
    $(".n2").click(function(){
      $(".n1").val("");
    });
                     
     });</script>
  </head>
  <body>
    
    <div class="container">
      <div class="signup">Sign up</div>
      
      <div class="login">Log in</div>
      <div class="signup-form">
        <input type="text" placeholder="Enter your Email address" class="n1"><br>
        <input type="text" placeholder="Enter your username" class="n1"><br>
        <input type="password" placeholder="Enter your password" class="n1"><br>
        <div class="n2">Create account</div>
      </div>
      <div class="login-form">
         <input type="text" placeholder="Email or Username" class="n1"><br>
         <input type="password" placeholder="Password" class="n1"><br>
        
        <div class="n2">Log In</div><br>
         <a href="#"> I forgot my username or password</a>
        
    </div>
  </body>
</html>
 