{% extends 'base.html' %}
{% load static %}

{% block content %}


  <!-- ***** About Us Page ***** -->
  <div class="page-heading-shows-events">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Neon Groove Arena Tickets</h2>
          <span>Check out upcoming and past shows & events and grab your ticket right now.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="ticket-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="left-image">
            <img src="/static/images/ticket-02.jpg" alt="" style="width: 90%; height: auto;">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="right-content">
            <h4>Neon Groove Arena</h4>
            <span>200 Tickets available</span>
            <ul>
              <li><i class="fa fa-clock-o"></i> Thursday 05:00 PM to 11:30 PM</li>
              <li><i class="fa fa-map-marker"></i> Jawaharlal Nehru Stadium, Delhi</li>
            </ul>
            <div class="quantity-content">
              <div class="left-content">
                <h6>Standard Ticket</h6>
                <p>Rs 2799 per ticket</p>
              </div>
              <div class="right-content">
                <div class="quantity buttons_added">
                  <input type="button" value="-" class="minus" onclick="subcount()">
                  <input type="number" step="1" min="0" max="10" id="quantity" name="quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                  <input type="button" value="+" class="plus" onclick="addcount()">
                </div>
              </div>
            </div>
            <div class="total">
              <h4>Total(in Rs)<span id="totalAmount">0.00</span></h4>
              <div class="main-dark-button"><a href="{% url 'mycart' %}">Purchase Tickets</a></div>
            </div>
            <div class="warn">
              <p>*You Can Only Buy 10 Tickets For This Show</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/neonGrooveArena.js"></script>

  


</body>

</html>
{% endblock content %}
