{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <body>

    <!-- ** About Us Page ** -->
    <div class="page-heading-shows-events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Tickets On Sale Now!</h2>
                    <span>Check out upcoming and past shows & events and grab your ticket right now.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="tickets-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="search-box">
                        <form id="subscribe" action="" method="get">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="search-heading">
                                        <h4>Sort The Upcoming Shows & Events By:</h4>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <select value="month">
                                                <option value="month">Month</option>
                                                <option name="June" id="June">November</option>
                                                <option name="July" id="July">December</option>
                                                <option name="August" id="August">January</option>
                                                <option name="September" id="September">Feburary</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <select value="location">
                                                <option value="location">Location</option>
                                                <option name="Brazil" id="Brazil">Lavasa, Pune</option>
                                                <option name="Europe" id="Europe">Mumbai</option>
                                                <option name="US" id="US">Delhi</option>
                                                <option name="Asia" id="Asia">Bengaluru</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <select value="month">
                                                <option value="month">Price</option>
                                                <option name="min" id="min">Rs 1500</option>
                                                <option name="standard" id="standard">Rs 3000</option>
                                                <option name="hight" id="hight">Rs 5000</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <fieldset>
                                            <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Tickets Page</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ticket-item">
                        <div class="thumb">
                            <img src="/static/images/ticket-01.jpg" alt="">
                            <div class="price">
                                <span>1 ticket<br>from <em>Rs 1699</em></span>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>There Are 150 Tickets Left For This Show</span>
                            <h4>Rhythmic Oasis</h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> Feburary 5th, Monday: 05:00 PM to 10:00 PM</li>
                                <li><i class="fa fa-map-marker"></i>Bandra, South Mumbai</li>
                            </ul>
                            <div class="main-dark-button">
                                <a href="{% url 'rhytmicOasis' %}">Purchase Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ticket-item">
                        <div class="thumb">
                            <img src="/static/images/ticket-02.jpg" alt="">
                            <div class="price">
                                <span>1 ticket<br>from <em>Rs 2799</em></span>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>There Are 200 Tickets Left For This Show</span>
                            <h4>Neon Groove Arena</h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> Feburary 8th, Thursday: 05:00 PM to 11:30 PM</li>
                                <li><i class="fa fa-map-marker"></i>Jawaharlal Nehru Stadium,Delhi</li>
                            </ul>
                            <div class="main-dark-button">
                                <a href="{% url 'NeonGrooveArena' %}">Purchase Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ticket-item">
                        <div class="thumb">
                            <img src="/static/images/ticket-03.jpg" alt="">
                            <div class="price">
                                <span>1 ticket<br>from <em>Rs 1899</em></span>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>There Are 260 Tickets Left For This Show</span>
                            <h4>Haven Courtyard</h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> Feburary 10th, Saturday: 04:30 PM to 11:00 PM</li>
                                <li><i class="fa fa-map-marker"></i>Jay Mahal Palace, Bengaluru</li>
                            </ul>
                            <div class="main-dark-button">
                                <a href="havenCourtyard.html">Purchase Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ticket-item">
                        <div class="thumb">
                            <img src="/static/images/ticket-04.jpg" alt="">
                            <div class="price">
                                <span>1 ticket<br>from <em>Rs 1599</em></span>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>There Are 340 Tickets Left For This Show</span>
                            <h4>WonderLand Music & Art Festival</h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> March 10-14,2024</li>
                                <li><i class="fa fa-map-marker"></i>Kolkata</li>
                            </ul>
                            <div class="main-dark-button">
                                <a href="wonderland.html">Purchase Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ticket-item">
                        <div class="thumb">
                            <img src="/static/images/ticket-05.jpg" alt="">
                            <div class="price">
                                <span>1 ticket<br>from <em>Rs 1500</em></span>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>There Are 420 Tickets Left For This Show</span>
                            <h4>Big Water Splashing Festival</h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> March 21 to 23, 2024</li>
                                <li><i class="fa fa-map-marker"></i>Hydrabad</li>
                            </ul>
                            <div class="main-dark-button">
                                <a href="bigwatersplash.html">Purchase Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ticket-item">
                        <div class="thumb">
                            <img src="/static/images/ticket-06.jpg" alt="">
                            <div class="price">
                                <span>1 ticket<br>from <em>Rs 1799</em></span>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>There Are 520 Tickets Left For This Show</span>
                            <h4>Tiger Dance hip Hop festival</h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> April 01 to 04,2024</li>
                                <li><i class="fa fa-map-marker"></i>Chennai</li>
                            </ul>
                            <div class="main-dark-button">
                                <a href="tigerdancehipop.html">Purchase Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
{% endblock content %}